<h2 style="text-align: center; padding-top: 1em;">List of all pharmacies in the system</h2>
<br>
<br>
<div class="container">
    <button type="button" class="btn btn-success pull-right"><i class="fa fa-plus-circle"></i> Add new pharmacy</button>
    <br>
    <br>
    <table class="table table-bordered">
        <thead style="text-align: center;">
            <tr>
                <th scope="col" *ngFor='let ph of pharmacyHeaders'>{{ph}}</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr *ngFor='let pharmacy of pharmacies'>
                <td>{{pharmacy.name}}</td>
                <td>{{pharmacy.address}}</td>
                <td>{{pharmacy.city}}</td>
                <td>{{pharmacy.country}}</td>
                <td>{{pharmacy.description}}</td>
                <td>
                    <button class="btn btn-info">Show information</button>
                    <button class="btn btn-info">Show administrators</button>
                    <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete pharmacy</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>